  <key>NSPrivacyAccessedAPITypes</key>
  <array>
  <dict>
  <key>NSPrivacyAccessedAPITypeReasons</key>
  <array>
  <string>CA92.1</string>
  </array>
  <key>NSPrivacyAccessedAPIType</key>
  <string>NSPrivacyAccessedAPICategoryUserDefaults</string>
  </dict>
  <dict>
  <key>NSPrivacyAccessedAPITypeReasons</key>
  <array>
  <string>C617.1</string>
  </array>
  <key>NSPrivacyAccessedAPIType</key>
  <string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
  </dict>
  <dict>
  <key>NSPrivacyAccessedAPITypeReasons</key>
  <array>
  <string>35F9.1</string>
  </array>
  <key>NSPrivacyAccessedAPIType</key>
  <string>NSPrivacyAccessedAPICategorySystemBootTime</string>
  </dict>
  </array>
